<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Kanit:800" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Kanit:100" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<nav class="navbar navbar-inverse" style="opacity:0.9">
  <div class="container-fluid">
    <div class="navbar-header">
      <a style="font-size:2.2em" class="navbar-brand" href="/"><strong>L</strong>ogin</a>
    </div>
    {% if not session.logged_in %}
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{{ url_for('signup') }}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
    {% else %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{ session['log_email'] }} </a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
    </ul>
    {% endif %}
  </div>
</nav>
<div class="container">
    {% block body %}
    {% endblock %}
</div>

</body>
</html>